{% extends 'base.html.twig' %}

{% block title %}La Table Élégance
{% endblock %}

{% block body %}
	<div>

		{# publication start #}
		<h2 class="text-center my-5">Les plus récente publications</h2>
		<p class="d-flex justify-content-center my-5 ">
			<a class="btn btn-dark" href="{{ path('app_publication_new') }}">Poster votre envie</a>
		</p>
		<div class="d-flex flex-wrap justify-content-center">
			{% for publication in publications %}
				{# Limite aux 3 premières publications #}
				{# <tr>
								<td>{{ publication.title }}</td>
								<td>{{ publication.content }}</td>
								<td>{{ publication.publishedAt ? publication.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
								<td>{{ publication.image }}</td>
								<td>{{ publication.category.name }}</td>
								<td>{{ publication.user.name }}</td>
							</tr> #}

					<div class="card m-5 " style="width: 20rem;"> <div class="card-body">
						<h5 class="card-title">{{publication.title}}</h5>
						<p>Rédiger par:
							{{ publication.user.name }}
						</p>
						<p>Publie le :
							{{ publication.publishedAt ? publication.publishedAt|date('Y-m-d H:i:s') : '' }}</p>
						<img src="{{ asset('images') }}/{{ publication.image }}" class="card-img" alt="{{ publication.title }}">
						<p class="card-text p-2 mt-3">{{publication.content}}</p>
						<p class="p-1 bg-warning text-white w-50 text-center ">Catégorie:
							<br>{{ publication.category.name }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		{# {{ dump(publications) }} #}
		{# publication end #}


	</div>
{% endblock %}
